h5{
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 5px;
}

p.b{
  font-style: italic;
}

.myContainer{
  width: 60%;
}

.navbar-brand {
  padding-right: 20px;
}

h2{
color: white;
}

label{
  color: white;
}

legend{
  color: white;
}

.divFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}